parametersSchema:
	wyrihaximus: structure([
		reactphp: structure([
			rules: structure([
				blockingFunctions: bool(),
				loopStaticProxies: bool(),
				loopInstances: bool(),
				passLoopInterface: bool(),
				loopInterfaceProperties: bool(),
				asyncAwaitInClosure: bool(),
				asyncAwaitReachableViaCallStack: bool(),
			]),
		]),
	])

parameters:
	wyrihaximus:
		reactphp:
			rules:
				blockingFunctions: true
				loopStaticProxies: true
				loopInstances: true
				passLoopInterface: true
				loopInterfaceProperties: true
				asyncAwaitInClosure: true
				asyncAwaitReachableViaCallStack: true

services:
	-
		class: WyriHaximus\React\PHPStan\Config\RulesConfig
		arguments:
			blockingFunctions: %wyrihaximus.reactphp.rules.blockingFunctions%
			loopStaticProxies: %wyrihaximus.reactphp.rules.loopStaticProxies%
			loopInstances: %wyrihaximus.reactphp.rules.loopInstances%
			passLoopInterface: %wyrihaximus.reactphp.rules.passLoopInterface%
			loopInterfaceProperties: %wyrihaximus.reactphp.rules.loopInterfaceProperties%
			asyncAwaitInClosure: %wyrihaximus.reactphp.rules.asyncAwaitInClosure%
			asyncAwaitReachableViaCallStack: %wyrihaximus.reactphp.rules.asyncAwaitReachableViaCallStack%
	-
		class: WyriHaximus\React\PHPStan\Rules\UseNonBlockingImplementationsRule
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.rules.rule
	-
		class: WyriHaximus\React\PHPStan\Rules\UseLoopStaticProxiesRule
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.rules.rule
	-
		class: WyriHaximus\React\PHPStan\Rules\DoNotUseLoopInstancesRule
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.rules.rule
	-
		class: WyriHaximus\React\PHPStan\Rules\DoNotPassLoopInterfaceRule
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.rules.rule
	-
		class: WyriHaximus\React\PHPStan\Rules\DoNotDeclareLoopInterfacePropertyRule
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.rules.rule
	-
		class: WyriHaximus\React\PHPStan\Rules\DoNotDeclarePromotedLoopInterfacePropertyRule
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.rules.rule
	-
		class: WyriHaximus\React\PHPStan\Rules\DoNotDeclareLoopInterfaceTraitPropertyRule
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.rules.rule
	-
		class: WyriHaximus\React\PHPStan\Parser\AsyncWrappedClosureVisitor
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.parser.richParserNodeVisitor
	-
		class: WyriHaximus\React\PHPStan\Rules\WrapAwaitingClosuresInAsyncRule
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.rules.rule
	-
		class: WyriHaximus\React\PHPStan\Rules\WrapClosuresReachingAwaitInAsyncRule
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.rules.rule
	-
		class: WyriHaximus\React\PHPStan\Collectors\AsyncCallGraphCollector
		arguments:
			config: @WyriHaximus\React\PHPStan\Config\RulesConfig
		tags:
			- phpstan.collector
