services:
  -
    class: WyriHaximus\React\PHPStan\Rules\UseNonBlockingImplementationsRule
    tags:
      - phpstan.rules.rule
  -
    class: WyriHaximus\React\PHPStan\Rules\UseLoopStaticProxiesRule
    tags:
      - phpstan.rules.rule
  -
    class: WyriHaximus\React\PHPStan\Rules\DoNotUseLoopInstancesRule
    tags:
      - phpstan.rules.rule
  -
    class: WyriHaximus\React\PHPStan\Rules\DoNotPassLoopInterfaceRule
    tags:
      - phpstan.rules.rule
