parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
		- ../../utils
	excludePaths:
		- ../../utils/data/*
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- PHPStan\Testing\RuleTestCase
includes:
	- ../../extension.neon
